---
import FooterSection from "../components/FooterSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Consejo Directivo">
    <LandingHeader/>
    <section id="consejo">
        <div class="row">
            <h2>Consejo <span>Directivo</span></h2>
    
            <div class="container">
                <div class="mx-auto person-content mt-5">
                    <div class="scrollblock flex justify-center">
                        <div class="person">
                            <img
                                src="./images/Julio-Caceres-Arce.webp"
                                class="rounded-circle img-fluid"
                                width="230"
                                alt=""
                            />
    
                            <div class="person-name py-1 text-center">
                                <p>
                                    Julio Reynaldo Cáceres Arce<br>
                                    <small>Presidente</small>
                                </p>
                            </div>
                        </div>
                    </div>
    
                    <div
                        class="scrollblock flex justify-around flex-wrap"
                    >
                        <div class="person animado mt-0">
                            <img
                                src="./images/user.webp"
                                class="rounded-circle img-fluid"
                                width="230"
                                alt=""
                            />
    
                            <div class="person-name py-1 text-center">
                                <p>
                                    Carlos Fernández Fernández<br>
                                    <small>Vice Presidente</small>
                                </p>
                            </div>
                        </div>
    
                        <div class="person animado mt-0">
                            <img
                                src="./images/Milko-Curie.webp"
                                class="rounded-circle img-fluid"
                                width="230"
                                alt=""
                            />
    
                            <div class="person-name py-1 text-center">
                                <p>
                                    Milko Curie Deza<br>
                                    <small>Tesorero</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Nuestros <span>Comites</span></h2>
    
            <div class="mx-auto person-content mt-5">
    
                <div class="scrollblock flex justify-around flex-wrap">
    
                    <div class="person">
    
                        <img src="./images/calderon-bellido.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p>Juan Carlos Calderón Bellido<br>
                                <small>Automotriz</small></p>
    
                        </div>
    
                    </div>
    
                    <div class="person animado">
    
                        <img src="./images/Alberto_Muñoz_Najar.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p class="mb-0 text-white font-weight-bold">Alberto Muñoz Nájar Luque<br><small>Comercio</small></p>
    
                        </div>
    
                    </div>
    
    
                    <div class="person animado">
    
                        <img src="./images/user.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p>Eduardo Villamar Pinto<br><small>Banca, seguros y AFP's</small></p>
    
                        </div>
    
                    </div>
                    </div>
    
                    <div class="scrollblock flex justify-around flex-wrap">
    
                    <div class="person animado">
    
                        <img src="./images/user.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p>Luis Fernando Quintanilla Bedregal<br><small>Pequeña empresa</small></p>
    
                        </div>
    
                    </div>
    
                    <div class="person animado">
    
                        <img src="./images/Nitza-Huaco-Mendoza.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p>Nitza Huaco Mendoza<br><small>Servicios</small></p>
    
                        </div>
    
                    </div>
    
                    <div class="person animado">
    
                        <img src="./images/Hernan-Vela.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p>Hernán Vela Lazo<br><small>Agropecuario</small></p>
    
                        </div>
    
                    </div>
                    </div>
    
                    <div class="scrollblock flex justify-around flex-wrap">
    
                    <div class="person animado">
    
                        <img src="./images/Bruno_Vargas.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p>Bruno Vargas Lama<br><small>Construcción</small></p>
    
                        </div>
    
                    </div>
    
                    <div class="person animado">
    
                        <img src="./images/pablo_alcazar.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p>Pablo Alcázar Zuzunaga<br><small>Minería</small></p>
    
                        </div>
    
                    </div>
    
                    <div class="person animado">
    
                        <img src="./images/Libertad_Linares.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p>Libertad Linares Cornejo<br><small>Producción</small></p>
    
                        </div>
                    </div>
    
                    </div>
    
                </div>
    
            </div>
            
        </div>
    </section>
    <FooterSection/>
</Layout>