---
import FooterSection from "../components/FooterSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Contáctanos">
    <LandingHeader/>
    <section id="hero" class="pt-20">

        <img src="./images/contactos.webp" alt="" width="100%">
    </section>
    
    <section class="contacto py-6 flex">
    
        <div class="container">
    
            <h1 class="text-center pt-10">Contáctanos</h1>
    
            <div class="row">
    
                <div class="mt-20">
    
                    <h5>Horarios</h5>
    
                    <table class="flex">
    
                        <tbody><tr>
    
                            <td class="font-[900] font-AxiformaE ">Lunes:</td>
    
                            <td class="pl-4">08:30 - 17:00</td>
    
                        </tr>
    
                        <tr>
    
                            <td class="font-bold py-2">Martes:</td>
    
                            <td class="pl-4">08:30 - 17:00</td>
    
                        </tr>
    
                        <tr>
    
                            <td class="font-bold py-2">Miércoles:</td>
    
                            <td class="pl-4">08:30 - 17:00</td>
    
                        </tr>
    
                        <tr>
    
                            <td class="font-bold py-2">Jueves:</td>
    
                            <td class="pl-4">08:30 - 17:00</td>
    
                        </tr>
    
                        <tr>
    
                            <td class="font-bold py-2">Viernes:</td>
    
                            <td class="pl-4">08:30 - 17:00</td>
    
                        </tr>
    
                    </tbody></table>
    
                    <h5 class="mt-20">Contacto</h5>
    
                    <p class="flex"><i><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#3CBF71" class="w-6 h-6 flex mr-2">
                        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                      </svg>
                      </i> (054) 380505</p>
    
                    <p class="flex pt-0"><i><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#3CBF71" class="w-6 h-6">
                        <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                        <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                      </svg>
                      </i> ccia@cciarequipa.org</p>
    
                </div>
    
                <div class="col-md-8 mt-20">
    
                    <form action="">
    
                        <h5>Envíanos un mensaje</h5>
    
                        <div class="form-group ">
    
                            <input type="text" class="form-control input-control" name="" id="" placeholder="Tu nombre">
    
                        </div>
    
                        <div class="form-group mt-4">
    
                            <input type="text" class="form-control input-control" name="" id="" placeholder="Email">
    
                        </div>
    
                        <div class="form-group mt-4">
    
                            <textarea name="" id="" class="form-control input-control" rows="10" placeholder="Mensaje"></textarea>
    
                        </div>
    
                        <button type="submit" class="mt-5 btn btn-primario">Enviar</button>
    
                    </form>
    
                </div>
    
            </div>
    
        </div>
    
    </section>
    
    <section class="" id="areas">
    
        <div class="container">
    
            <h1>Áreas <span>directas</span></h1>
    
            <div class="row mt-5">
    
                <div class="col-md-12 relative">
    
                    <div class="number-contact">
    
                        01
    
                    </div>
    
                    <h5 class="ml-12 mt-2">Recepción</h5>
    
                </div>
    
                <div class="col-md-4 px-6 mt-4 ml-10 mr-10">
    
                    <p class="title-contact text">Nombre del encargado</p>
    
                    <p>Jocelyn Cari Amanqui</p>
    
                </div>
    
                <div class="col-md-4 mt-4 mr-10">
    
                    <p class="title-contact">Teléfono</p>
    
                    <p>(054) 380505 anexo 111</p>
    
                </div>
    
                <div class="col-md-4 px-6 mt-4">
    
                    <p class="title-contact">E-mail</p>
    
                    <p>jcari@cciarequipa.org</p>
    
                </div>
    
            </div>
    
            <div class="row mt-5">
    
                <div class="col-md-12 relative">
    
                    <div class="number-contact">
    
                        02
    
                    </div>
    
                    <h5 class="ml-12 mt-2">Secretaría General</h5>
    
                </div>
    
                <div class="col-md-4 px-6 mt-4 ml-10">
    
                    <p class="title-contact">Nombre del encargado</p>
    
                    <p>Mónica Torres</p>
    
                </div>
    
                <div class="col-md-4 px-6 mt-4 ml-4">
    
                    <p class="title-contact">Teléfono</p>
    
                    <p>(054) 380505 anexo 115</p>
    
                </div>
    
                <div class="col-md-4 px-6 mt-4 ml-4">
    
                    <p class="title-contact">E-mail</p>
    
                    <p>mtorres@cciarequipa.org</p>
    
                </div>
    
            </div>
    
        </div>
    
    </section>
    
    <section>
    
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3827.669935205214!2d-71.54410688513731!3d-16.390767788683014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x114426b15fc059f7!2sC%C3%A1mara%20de%20Comercio%20e%20Industria%20de%20Arequipa!5e0!3m2!1ses!2spe!4v1632806446250!5m2!1ses!2spe" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    
    </section>
    <FooterSection/>
</Layout>