---
import FooterSection from "../components/FooterSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Arrow from "../components/comuns/Arrow.astro";
import Layout from "../layouts/Layout.astro";

---


<Layout title="Convenios">
    <LandingHeader/>
    <section class="nuestrosC">
        <h1>Nuestros convenios</h1>
            <div class="row pl-10">
                <div class="container flex">
                    <div class="grid grid-cols-3 gap-4">
                        <div class="column1">
                            <div class="card border rounded-lg">
                                <div
                                    class="card-header flex items-center justify-center pt-[20px] pb-[20px]"
                                >
                                    <img
                                        src="./images/cognitio.webp"
                                        class="card-img-top"
                                        alt="..."
                                    />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Cognitio</h5>
                                    <a
                                        href="/detallesConvenios/"
                                        class="btn-secundario flex pt-4"
                                        ><Arrow /><i class="not-italic pt-[10px]">
                                            Más información</i
                                        ></a
                                    >
                                </div>
                            </div>
    
                            <div class="card border rounded-lg">
                                <div
                                    class="card-header flex items-center justify-center pt-[60px] pb-[50px]"
                                >
                                    <img
                                        src="./images/esan.webp"
                                        class="card-img-top"
                                        alt="..."
                                    />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Universidad ESAN</h5>
                                    <a
                                        href="/detallesConvenios/"
                                        class="btn-secundario flex pt-4"
                                        ><Arrow /><i class="not-italic pt-[10px]">
                                            Más información</i
                                        ></a
                                    >
                                </div>
                            </div>
    
                            <div class="card border rounded-lg">
                                <div
                                    class="card-header flex items-center justify-center pt-[70px] pb-[70px]"
                                >
                                    <img
                                        src="./images/HumanizaRSE.webp"
                                        class="card-img-top"
                                        alt="..."
                                    />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">HumanizaRSE</h5>
                                    <a
                                        href="/detallesConvenios/"
                                        class="btn-secundario flex pt-4"
                                        ><Arrow /><i class="not-italic pt-[10px]">
                                            Más información</i
                                        ></a
                                    >
                                </div>
                            </div>
                        </div>
                           
                        <div class="column2">
                            <div class="card border rounded-lg">
                                <div
                                    class="card-header flex items-center justify-center pt-[70px] pb-[70px]"
                                >
                                    <img
                                        src="./images/intedya.webp"
                                        class="card-img-top"
                                        alt="..."
                                    />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Intedya</h5>
                                    <a
                                        href="/detallesConvenios/"
                                        class="btn-secundario flex pt-4"
                                        ><Arrow /><i class="not-italic pt-[10px]">
                                            Más información</i
                                        ></a
                                    >
                                </div>
                            </div>
    
                            <div class="card border rounded-lg">
                                <div
                                    class="card-header flex items-center justify-center pt-[70px] pb-[65px]"
                                >
                                    <img
                                        src="./images/orion.webp"
                                        class="card-img-top"
                                        alt="..."
                                    />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Orion GPE</h5>
                                    <a
                                        href="/detallesConvenios/"
                                        class="btn-secundario flex pt-4"
                                        ><Arrow /><i class="not-italic pt-[10px]">
                                            Más información</i
                                        ></a
                                    >
                                </div>
                            </div>
    
                            <div class="card border rounded-lg">
                                <div
                                    class="card-header flex items-center justify-center pt-[80px] pb-[75px]"
                                >
                                    <img
                                        src="./images/proavance.webp"
                                        class="card-img-top"
                                        alt="..."
                                    />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">PRO AVANCE</h5>
                                    <a
                                        href="/detallesConvenios/"
                                        class="btn-secundario flex pt-4"
                                        ><Arrow /><i class="not-italic pt-[10px]">
                                            Más información</i
                                        ></a
                                    >
                                </div>
                            </div>
                        </div>
    
                        <div class="column3">
                            <div class="card border rounded-lg">
                                <div
                                    class="card-header flex items-center justify-center pt-[80px] pb-[70px]"
                                >
                                    <img
                                        src="./images/tecsup.webp"
                                        class="card-img-top"
                                        alt="..."
                                    />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">TECSUP</h5>
                                    <a
                                        href="/detallesConvenios/"
                                        class="btn-secundario flex pt-4"
                                        ><Arrow /><i class="not-italic pt-[10px]">
                                            Más información</i
                                        ></a
                                    >
                                </div>
                            </div>
    
                            <div class="card border rounded-lg">
                                <div
                                    class="card-header flex items-center justify-center pt-[30px] pb-[30px]"
                                >
                                    <img
                                        src="./images/lasalle.webp"
                                        class="card-img-top"
                                        alt="..."
                                    />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Universidad La Salle</h5>
                                    <a
                                        href="/detallesConvenios/"
                                        class="btn-secundario flex pt-4"
                                        ><Arrow /><i class="not-italic pt-[10px]">
                                            Más información</i
                                        ></a
                                    >
                                </div>
                            </div>
    
                            <div class="card border rounded-lg">
                                <div
                                    class="card-header flex items-center justify-center pt-[40px] pb-[30px]"
                                >
                                    <img
                                        src="./images/wca.webp"
                                        class="card-img-top"
                                        alt="..."
                                    />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        World Compliance Association
                                    </h5>
                                    <a
                                        href="/detallesConvenios/"
                                        class="btn-secundario flex pt-4"
                                        ><Arrow /><i class="not-italic pt-[10px]">
                                            Más información</i
                                        ></a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
    <FooterSection/>
</Layout>