---
import FooterSection from "../components/FooterSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Arrow from "../components/comuns/Arrow.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Preguntas Frecuentes">
    <LandingHeader/>
    <section class="auditorio1">
        <img src="./images/anulacion.webp">
        <div class="contain">
            <h1>Preguntas Frecuentes</h1>
            <p>Mediante nuestro servicio usted tendrá la posibilidad de ser sujeto de crédito nuevamente y continuar con su operatividad empresarial, mejorando las condiciones de recupero en ventas al crédito y manteniéndose actualizado para generar más y buenos negocios.</p>
            <div class="caption flex mt-10">
                <a href="#contactanos"><button type="submit" class="btn btn-secundario flex ml-6 mt-4"
                        ><i class="mr-2"> <Arrow/>
                        </i> Contáctanos</button
                    ></a>
            
            </div>
        </div>
</section>
<section class="" id="detalles">
    <h5>
        ¿En qué consiste el protesto?
    </h5>
    <p>
        El protesto es la constancia del incumplimiento de las obligaciones estipuladas en el título valor (falta aceptación / pago). El protesto se solicita ante Fedatario Público (notario - juez de paz, en los lugares donde no exista notario). La formalidad sustitutoria del protesto está a cargo de los bancos, respecto de títulos valores pagaderos con cargo a una cuenta bancaria. El protesto o formalidad sustitutoria constituye formalidad necesaria para el ejercicio de las acciones cambiarias. Constituye una excepción a esta regla, los títulos con cláusula “Sin Protesto”, que aparejan ejecución sin requerir de protesto.
Base Legal: Art. 70º de la Ley N° 27287.
    </p>

    <h5 class="pt-10">
        ¿Qué significa levantar, aclarar o regularizar un protesto y/o mora?
    </h5>
    <p>Es el trámite mediante el cual se ha acreditado ante el Registro Nacional de Protestos y Moras, que el título valor ya fue cancelado.</p>

    <h5 class="pt-10">¿Puedo regularizar en la Cámara de Comercio de Arequipa una letra protestada de otra provincia?</h5>
    <p>No, las regularizaciones son ante la Cámara de Comercio de la jurisdicción provincial donde se protestó la letra o Título valor.</p>

    <h5  class="pt-10">
        ¿Cuánto tiempo se publica esta información?
    </h5>
    <p>El art. 85.2 de la Ley 27287 refiere que las Cámaras provinciales están obligadas a mantener registradas, durante 5 (cinco) años, contados a partir del 1 de enero del año siguiente al de su anotación, la información de Títulos Valores Protestados o en Mora; sin embargo salvo que dicho título valor haya sido pagado totalmente y realizado el trámite de regularización ante la Cámara provincial, en cuyo caso el registro debe mantenerse durante 3 (tres) años, computados desde la misma fecha antes señalada.</p>
</section>
<section class="auditorio1 p-20 pt-0" id="contactanos">
    <h2>Ponte en contacto<span><br>con nuestra encargada</span></h2>
    <div class="grid grid-cols-3 flex pt-10">
        <div>
            <img src="./images/protestos2.webp">
            <h3>Jocelyn Cari Amanqui</h3>
            <p>Encargada del área de protestos</p>
        </div>
        <div class="col-md-1 p-20 pt-0">
    
                    <h5>Horarios</h5>
    
                    <table class="flex">
    
                        <tbody><tr>
    
                            <td class="font-[900] font-AxiformaE py-2">Lunes:</td>
    
                            <td class="pl-4">08:30 - 17:00</td>
    
                        </tr>
    
                        <tr>
    
                            <td class="font-bold py-2">Martes:</td>
    
                            <td class="pl-4">08:30 - 17:00</td>
    
                        </tr>
    
                        <tr>
    
                            <td class="font-bold py-2">Miércoles:</td>
    
                            <td class="pl-4">08:30 - 17:00</td>
    
                        </tr>
    
                        <tr>
    
                            <td class="font-bold py-2">Jueves:</td>
    
                            <td class="pl-4">08:30 - 17:00</td>
    
                        </tr>
    
                        <tr>
    
                            <td class="font-bold py-2">Viernes:</td>
    
                            <td class="pl-4">08:30 - 17:00</td>
    
                        </tr>
    
                    </tbody></table>
    
                    <div class="caption flex mt-40 justify-center">
                        <a href="https://wa.link/2z8eme" class="button-slide">Abrir Whatsapp</a></div>
                </div>
        <div class="col-md-1 p-20 pt-0">
                    <h5 class="">Contacto</h5>
    
                    <p class="flex pt-6 pb-6"><i><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#3CBF71" class="w-6 h-6 flex mr-2">
                        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                      </svg>
                      </i> (054) 380505</p>
    
                    <p class="flex pt-0"><i><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#3CBF71" class="w-6 h-6">
                        <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                        <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                      </svg>
                      </i> ccia@cciarequipa.org</p>
            </div>
    </div>
</section>
    <FooterSection/>
</Layout>