---
import FooterSection from "../components/FooterSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";

---


<Layout title="Convenios">
    <LandingHeader/>
    <section class="bg-white">

    </section>


<FooterSection/>
</Layout>