---
import FooterSection from "../components/FooterSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Arrow from "../components/comuns/Arrow.astro";
import Formulario from "../components/comuns/Formulario.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Tarifario">
    <LandingHeader/>
    <section class="auditorio">
        <img src="./images/detallesTarifario.webp">
        <div class="contain">
            <h1>Tarifario</h1>
            <p>Mediante nuestro servicio usted tendrá la posibilidad de ser sujeto de crédito nuevamente y continuar con su operatividad empresarial, mejorando las condiciones de recupero en ventas al crédito y manteniéndose actualizado para generar más y buenos negocios.</p>
            <div class="caption flex mt-10">
                <a href="#detallesTarifario"><button type="submit" class="btn btn-secundario flex ml-6 mt-4"
                        ><i class="mr-2"> <Arrow/>
                        </i>Ver tarifario</button
                    ></a>
            
            </div>
        </div>
</section>
<section class="tarifas p-20 relative" id="detallesTarifario">
    <h1>Tarifas</h1>
    <ul class="nav nav-pills mb-3 mt-20 flex justify-center font-AxiformaM pl-40" id="pills-tab">
        <li class="nav-item pr-40">
            <a
                class="nav-link active"
                id="pills-socios-tab"
                href="#levantamiento">Levantamiento de protestos y moras</a
            >
        </li>
        <li class="nav-item pr-40" role="presentation">
            <a class="nav-link" href="#otros"
                >Otros</a
            >
        </li>
    </ul>

    <div class="tab-content text-white relative"  id="levantamiento">
        <div class="tab-pane">
            <ol class="list-tarifa">
                <li class="relative">
                    <div class="guion-prot"></div>
                    <p class="mt-10">
                        <span class="number">01</span>Hasta S/ 5 000.00
                    </p>
                </li>
                <div class="precio mt-4 text-left active">
                    <p class="title">Tarifa actual</p>
                    <p class="moneda">
                        <span>S/</span> 20<span>.00</span>
                        <small>incl. IGV</small>
                    </p>
                </div>
            </ol>
        </div>
        <div class="tab-pane">
            <ol class="list-tarifa">
                <li class="relative">
                    <div class="guion-prot"></div>
                    <p class="mt-10">
                        <span class="number">02</span>Hasta S/ 10 000.00
                    </p>
                </li>
                <div class="precio mt-4 text-left active">
                    <p class="title">Tarifa actual</p>
                    <p class="moneda">
                        <span>S/</span> 30<span>.00</span>
                        <small>incl. IGV</small>
                    </p>
                </div>
            </ol>
        </div>
        <div class="tab-pane">
            <ol class="list-tarifa">
                <li class="relative">
                    <div class="guion-prot"></div>
                    <p class="mt-10">
                        <span class="number">03</span>Hasta S/ 20 000.00
                    </p>
                </li>
                <div class="precio mt-4 text-left active">
                    <p class="title">Tarifa actual</p>
                    <p class="moneda">
                        <span>S/</span> 40<span>.00</span>
                        <small>incl. IGV</small>
                    </p>
                </div>
            </ol>
        </div>
        <div class="tab-pane">
            <ol class="list-tarifa">
                <li class="relative">
                    <div class="guion-prot"></div>
                    <p class="mt-10">
                        <span class="number">04</span>Hasta S/ 30 000.00
                    </p>
                </li>
                <div class="precio mt-4 text-left active">
                    <p class="title">Tarifa actual</p>
                    <p class="moneda">
                        <span>S/</span> 50<span>.00</span>
                        <small>incl. IGV</small>
                    </p>
                </div>
            </ol>
        </div>
        <div class="tab-pane">
            <ol class="list-tarifa">
                <li class="relative">
                    <div class="guion-prot"></div>
                    <p class="mt-10">
                        <span class="number">05</span>Hasta S/ 40 000.00
                    </p>
                </li>
                <div class="precio mt-4 text-left active">
                    <p class="title">Tarifa actual</p>
                    <p class="moneda">
                        <span>S/</span> 60<span>.00</span>
                        <small>incl. IGV</small>
                    </p>
                </div>
            </ol>
        </div>
        <div class="tab-pane">
            <ol class="list-tarifa">
                <li class="relative">
                    <div class="guion-prot"></div>
                    <p class="mt-10">
                        <span class="number">06</span>Hasta S/ 50 000.00
                    </p>
                </li>
                <div class="precio mt-4 text-left active">
                    <p class="title">Tarifa actual</p>
                    <p class="moneda">
                        <span>S/</span> 70<span>.00</span>
                        <small>incl. IGV</small>
                    </p>
                </div>
            </ol>
        </div>
        <div class="tab-pane">
            <ol class="list-tarifa">
                <li class="relative">
                    <div class="guion-prot"></div>
                    <p class="mt-10">
                        <span class="number">07</span>Más de S/ 50 000.00
                    </p>
                </li>
                <div class="precio mt-4 text-left active">
                    <p class="title">Tarifa actual</p>
                    <p class="moneda">
                        <span>S/</span> 95<span>.00</span>
                        <small>incl. IGV</small>
                    </p>
                </div>
            </ol>
        </div>
    </div>

    <div class="tab-content text-white relative"  id="otros">
        <div class="tab-pane">
            <ol class="list-tarifa">
                <li class="relative">
                    <div class="guion-prot"></div>
                    <p class="mt-10">
                        <span class="number">01</span>Registro Títulos Valores en Mora
                    </p>
                </li>
                <div class="precio mt-4 text-left active">
                    <p class="title">Tarifa actual</p>
                    <p class="moneda">
                        <span>S/</span> 7<span>.00 c/u</span>
                        <small>incl. IGV</small>
                    </p>
                </div>
            </ol>
        </div>
        <div class="tab-pane">
            <ol class="list-tarifa">
                <li class="relative">
                    <div class="guion-prot"></div>
                    <p class="mt-10">
                        <span class="number">02</span>Consulta Servicios de Protestos
                    </p>
                </li>
                <div class="precio mt-4 text-left active">
                    <p class="title">Tarifa actual</p>
                    <p class="moneda">
                        <span>S/</span> 20<span>.00</span>
                        <small>incl. IGV</small>
                    </p>
                </div>
            </ol>
        </div>
        <div class="tab-pane">
            <ol class="list-tarifa">
                <li class="relative">
                    <div class="guion-prot"></div>
                    <p class="mt-10">
                        <span class="number">03</span>Emisión de Certificado Negativo
                    </p>
                </li>
                <div class="precio mt-4 text-left active">
                    <p class="title">Tarifa actual</p>
                    <p class="moneda">
                        <span>S/</span> 20<span>.00</span>
                        <small>incl. IGV</small>
                    </p>
                </div>
            </ol>
        </div>
    </div>

    <div class="caption flex mt-10 justify-center">
        <a href="/levantarProtestos/" class="button-slide">Levantar protestos y moras</a></div>


    <img src="./images/imgTarifa.webp">

</section>
    <FooterSection/>
</Layout>