---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import "../styles/style.css"
import FooterSection from '../components/FooterSection.astro';
import Principal from './principal.astro';
---

<Layout title="Camara de Comercio e Industria Arequipa">
	<main class="landing-section snap-y snap-proximity relative overflow-x-hidden overflow-y-hidden">
		 <div class="snap-center">
			<Principal/>
		</div>
	</main>
</Layout>