---
import FooterSection from "../components/FooterSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Organización">
    <LandingHeader/>
    <section id="organizacion">
        <div class="row">
            <h2>Equipo <span>CCIA</span></h2>
    
            <div class="container">
                <div class="mx-auto person-content mt-5">
                    <div class="scrollblock flex justify-center">
                        <div class="person">
    
                            <img
                                src="./images/broswi-galvez.webp"
                                class="rounded-circle img-fluid"
                                width="230"
                                alt=""
                            />
    
                            <div class="person-name py-1 text-center">
                                <p>
                                    Broswi Gálvez Villafuerte<br>
                                    <small>GERENTE GENERAL</small>
                                </p>
                            </div>
                        </div>
                    </div>
    
                    <div
                        class="scrollblock flex justify-around flex-wrap"
                    >
                        <div class="person animado mt-0">
                            <img
                                src="./images/salome-galdos.webp"
                                class="rounded-circle img-fluid"
                                width="230"
                                alt=""
                            />
    
                            <div class="person-name py-1 text-center">
                                <p>
                                    Salomé Galdos Cruz<br>
                                    <small>SUB GERENTE ADMINISTRATIVO</small>
                                </p>
                            </div>
                        </div>
    
                        <div class="person animado mt-0">
                            <img
                                src="./images/user.webp"
                                class="rounded-circle img-fluid"
                                width="230"
                                alt=""
                            />
    
                            <div class="person-name py-1 text-center">
                                <p>
                                    <small>SUB GERENTE COMERCIAL Y DE SERVICIOS AL SOCIO</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Nuestros <span>Comites</span></h2>
    
            <div class="mx-auto person-content mt-5">
    
                <div class="scrollblock flex justify-around flex-wrap">
    
                    <div class="person">
    
                        <img src="./images/ludovina-villanueva.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p>Ludovina Villanueva Núñez<br>
                                <small>CENTRO DE ARBITRAJE</small></p>
    
                        </div>
    
                    </div>
    
                    <div class="person animado">
    
                        <img src="./images/shila-mendoza.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p class="mb-0 text-white font-weight-bold">Shila Mendoza Gamero<br><small>SECRETARIA ARBITRAL</small></p>
    
                        </div>
    
                    </div>
    
    
                    <div class="person animado">
    
                        <img src="./images/miluzka-manrique.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p>Miluzka Manrique Masias<br><small>SECRETARIA ARBITRAL</small></p>
    
                        </div>
    
                    </div>
                    </div>
    
                    <div class="scrollblock flex justify-around flex-wrap">
    
                    <div class="person animado">
    
                        <img src="./images/user.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-4 text-center">
    
                            <p><small>SECRETARIA ARBITRAL</small></p>
    
                        </div>
    
                    </div>
    
                    <div class="person animado">
    
                        <img src="./images/user.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p>Giordano Arias Espinoza<br><small>SECRETARIO ARBITRAL</small></p>
    
                        </div>
    
                    </div>
    
                    <div class="person animado">
    
                        <img src="./images/jimena-hurtado.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p>Jimena Hurtado Juárez<br><small>SECRETARIA ARBITRAL</small></p>
    
                        </div>
    
                    </div>
                    </div>
    
                    <div class="scrollblock flex justify-around flex-wrap">
    
                    <div class="person animado">
    
                        <img src="./images/juan-jose.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p>Juan José Ticona<br><small>AUXILIAR ARBITRAL</small></p>
    
                        </div>
    
                    </div>
    
                    <div class="person animado">
    
                        <img src="./images/geraldine-marquez.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p>Geraldine Márquez Herrera<br><small>CERTIFICACIÓN DE ORIGEN</small></p>
    
                        </div>
    
                    </div>
    
                    <div class="person animado">
    
                        <img src="./images/monica-torres.webp" class="rounded-circle img-fluid" width="210" alt="">
    
                        <div class="person-name py-1 text-center">
    
                            <p>Mónica Torres Galdos<br><small>SECRETARIA GENERAL</small></p>
    
                        </div>
                    </div>
    
                    </div>
    
                    <div class="scrollblock flex justify-around flex-wrap">
    
                        <div class="person animado">
        
                            <img src="./images/user.webp" class="rounded-circle img-fluid" width="210" alt="">
        
                            <div class="person-name py-1 text-center">
        
                                <p>Gustavo Chirinos Estrada<br><small>ASESORÍA LEGAL</small></p>
        
                            </div>
        
                        </div>
        
                        <div class="person animado">
        
                            <img src="./images/user.webp" class="rounded-circle img-fluid" width="210" alt="">
        
                            <div class="person-name py-4 text-center">
        
                                <p><small>ESTUDIOS ECONÓMICOS</small></p>
        
                            </div>
        
                        </div>
        
                        <div class="person animado">
        
                            <img src="./images/jocelyn-cari.webp" class="rounded-circle img-fluid" width="210" alt="">
        
                            <div class="person-name py-1 text-center">
        
                                <p>Jocelyn Cari Amanqui<br><small>PROTESTOS Y MORAS</small></p>
        
                            </div>
                        </div>
        
                        </div>
    
                        <div class="scrollblock flex justify-around flex-wrap">
    
                            <div class="person animado">
            
                                <img src="./images/antonio-escalante.webp" class="rounded-circle img-fluid" width="210" alt="">
            
                                <div class="person-name py-1 text-center">
            
                                    <p>Antonio Escalante C.<br><small>CAJA</small></p>
            
                                </div>
            
                            </div>
            
                            <div class="person animado">
            
                                <img src="./images/katherine-sueros.webp" class="rounded-circle img-fluid" width="210" alt="">
            
                                <div class="person-name py-1 text-center">
            
                                    <p>Katherine Sueros Larico<br><small>CONTABILIDAD</small></p>
            
                                </div>
            
                            </div>
            
                            <div class="person animado">
            
                                <img src="./images/ruth-vargas.webp" class="rounded-circle img-fluid" width="210" alt="">
            
                                <div class="person-name py-1 text-center">
            
                                    <p>Ruth Vargas Calderón<br><small>CONTABILIDAD</small></p>
            
                                </div>
                            </div>
            
                            </div>
    
                            <div class="scrollblock flex justify-around flex-wrap">
    
                                <div class="person animado">
                
                                    <img src="./images/user.webp" class="rounded-circle img-fluid" width="210" alt="">
                
                                    <div class="person-name py-1 text-center">
                
                                        <p>Yasley Yanqui Chambi<br><small>ASESORA DE SERVICIOS</small></p>
                
                                    </div>
                
                                </div>
                
                                <div class="person animado">
                
                                    <img src="./images/user.webp" class="rounded-circle img-fluid" width="210" alt="">
                
                                    <div class="person-name py-1 text-center">
                
                                        <p>Lissete Valdivia Alemán<br><small>ASESORA DE SERVICIOS</small></p>
                
                                    </div>
                
                                </div>
                
                                <div class="person animado">
                
                                    <img src="./images/alejandra-alvarado.webp" class="rounded-circle img-fluid" width="210" alt="">
                
                                    <div class="person-name py-1 text-center">
                
                                        <p>Alejandra Alvarado C.<br><small>ASESORA COMERCIAL</small></p>
                
                                    </div>
                                </div>
                
                                </div>
    
                                <div class="scrollblock flex justify-around flex-wrap">
    
                                    <div class="person animado">
                    
                                        <img src="./images/daniela-benavente.webp" class="rounded-circle img-fluid" width="210" alt="">
                    
                                        <div class="person-name py-1 text-center">
                    
                                            <p>Daniela Benavente Medina<br><small>MARKETING Y PUBLICIDAD</small></p>
                    
                                        </div>
                    
                                    </div>
                    
                                    <div class="person animado">
                    
                                        <img src="./images/user.webp" class="rounded-circle img-fluid" width="210" alt="">
                    
                                        <div class="person-name py-1 text-center">
                    
                                            <p>Fabiola López Chirinos<br><small>TECNOLOGÍAS DE LA INFORMACIÓN</small></p>
                    
                                        </div>
                    
                                    </div>
                    
                                    <div class="person animado">
                    
                                        <img src="./images/Juan-Javier.webp" class="rounded-circle img-fluid" width="210" alt="">
                    
                                        <div class="person-name py-1 text-center">
                    
                                            <p>Juan Javier Ramos<br><small>COLABORADOR</small></p>
                    
                                        </div>
                                    </div>
                    
                                    </div>
    
                                    <div class="scrollblock flex justify-center">
                                        <div class="person">
                    
                                            <img
                                                src="./images/Luciano-Ynca.webp"
                                                class="rounded-circle img-fluid"
                                                width="230"
                                                alt=""
                                            />
                    
                                            <div class="person-name py-1 text-center">
                                                <p>
                                                    Luciano Ynca Añasco<br>
                                                    <small>COLABORADOR</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
    
                </div>
    
            </div>
            
        </div>
    </section>
    
    <FooterSection/>
</Layout>