---
import FooterSection from "../components/FooterSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Quiénes Somos">
    <LandingHeader/>
    <section id="quienes-somos">
        <div class="row">
            <h2>Nuestra <span>historia</span></h2>
    
            <div
                style="float: right;max-width:550px; margin: 8px;"
                class="img-nosotros-acta relative"
            >
            <h3>Acta de instalación de la Cámara de Comercio de Arequipa </h3>
            
                <img
                    src="./images/acta.webp"
                    alt="Acta CCIA"
                    class="img-fluid"
                />
            </div>
    
            <p>
                Década de 1880. Eran épocas en donde Arequipa afrontaba grandes
                cambios para su desarrollo, se convertía, por ejemplo, en el eje
                comercial de la región lanera conformada por Arica, Tacna e Islay.
                Experimentaba los primeros viajes en tren que conectaban a la ciudad
                con el muelle mollendino y, esto a su vez, convertía a Arequipa en
                el principal nodo de intercambio del sur del país (todas las
                importaciones o exportaciones tenían que pasar rigurosamente por la
                blanca ciudad); al mismo tiempo se escuchaba hablar sobre los
                trabajos de construcción del ferrocarril trasandino Arequipa-Puno.
                Con todo ello, las relaciones mercantiles de todo tipo se fueron
                expandiendo. <br /><br />
                Pero también fue una época de tragedia y conmoción. La guerra perdida
                contra Chile trajo consigo innumerables y nefastas secuelas que conllevaron
                a una profunda crisis de la económica peruana. Fue recién en 1883, con
                la firma del tratado de Ancón, que se restableció la paz entre ambos
                países. Era hora de iniciar con la reconstrucción nacional. <br
                /><br />
                Al igual que un veterano escritor, Ricardo Palma, en sus esforzados intentos
                por reconstruir la saqueada biblioteca nacional en la que lo nombraron
                director a solo un mes de finalizada la guerra, los empresarios fueron
                los primeros en movilizarse para reactivar la economía y levantar el
                país. En ese panorama, se funda la Cámara de Comercio e Industria de
                Arequipa.<br /><br />
                Era un 23 de setiembre de 1887, hace 134 años, un grupo de emprendedores
                y visionarios deciden reunirse, al descenso del sol, ante la urgencia
                de poner orden en el comercio y la producción para poder canalizar sus
                aportes a la reconstrucción nacional y proyectarse hacia una nueva realidad
                que involucre a la región. Con los objetivos claros y definidos, fue
                así que los señores Guillermo Ricketts, Carlos Wagner, Emilio Petersen,
                José V. Rivera, Bernardo Nycander, José Eguren, Guillermo Morrison, José
                Bedín, Emilio Paulsen y Patricio C. Gibson, a iniciativa del Sr. Carlos
                Colsman, fundan la Cámara de Comercio e Industria de Arequipa, constituyéndose
                en la institución gremial de representación y defensa de los mercantiles
                de la ciudad. “Su creación obedece, pues, fundamentalmente a la necesidad
                de una nueva realidad, en la cual los movimientos, los cambios, las energías
                latentes, se encausen a través de entidades u organismos que canalicen
                y promuevan paralelamente el desarrollo de las actividades y su desenvolvimiento
                institucional organizado. A partir de su fundación en 1887, la historia
                de la CCIA se convierte en parte de la historia de Arequipa y, a través
                de ella, se inserta consiente e indisolublemente en el amplio y complejo
                devenir del Perú” expresó el Sr. Stanley Simons, gerente de la CCIA en
                1987, a 100 años de creada la institución. <br /><br />
                La idea de fundar la CCIA inició gracias a la influencia de otras instituciones
                similares que se crearon en el extranjero y en el Perú. La más remota
                se ubica en 1613, con la creación del Tribunal del Consulado, que desempeñó
                funciones gremiales para con los comerciantes de entonces; seguido de
                la creación de la Junta Central de Comercio de Tacna en marzo de 1884
                y la Cámara de Comercio del Callao, fundada en junio de 1887.<br
                /><br />
                “La historia es pródiga en ejemplos de que resulta de la demagogia del
                poder. Y también de que es el pueblo quien la sufre y paga, a veces por
                generaciones” -Fragmento de la Editorial publicada en el boletín CAMARA
                QP del 15 de agosto de 1987.<br /><br />
                El rol cumplido por la CCIA, a través de los años, ha estado guiado y
                siempre encausado por una profunda vocación democrática y de servicio
                colectivo. Desde su creación se ha identificado con los problemas que
                aquejan, no solo al sector comercial, sino a los diversos problemas sociales
                en general, impulsando propuestas y tajantes acciones para ayudar a concretar,
                por ejemplo, proyectos de desarrollo que han cambiado o van a cambiar
                profundamente la situación y perspectiva de Arequipa; sin contar con
                los prudentes e innumerables pronunciamientos, estudios, planteamientos
                y observaciones sobre situaciones que podrían bien desestabilizar el
                buen caminar del desarrollo y bienestar de la sociedad. <br /><br />
    
                La historia y consolidación de la CCIA, a lo largo de su historia,
                no hubiese sido posible sin el valioso compromiso y trabajo de
                empresarios que transitaron por ella y dieron la cara por la
                institución en todo momento. Bien menciona el Sr. Simons en el libro
                “Un Siglo de Esfuerzo: Historia de la Cámara de Comercio e Industria
                de Arequipa”: El hecho de que la fructífera labor realizada por la
                Cámara a través de los años, solo ha sido posible por el trabajo
                serio, esforzado, inteligente y honesto, y muchas veces gratuito o
                sin compensación económica, de muchos empresarios de todos los
                sectores, profesionales, asesores, funcionarios, empleados y obreros
                que, desde diversos cargos y responsabilidades, cumplieron con su
                desarrollo. Esta circunstancia confirma una vez más el viejo aserto
                de que las instituciones son y representan lo que los hombres que
                las crean y constituyen. <br /><br />
                Hoy la CCIA se levanta más que nunca, con nuevas proyecciones que enaltecerán,
                seguramente, a quienes trabajaron por ella, y seguirá forjando el presente
                para quienes, en un futuro, la representen. <br /><br />
                La reunión del 23 de setiembre de 1887 culminó a las 11 pm, duró 4 horas,
                pero perduró más de un siglo, y lo seguirá haciendo siempre con la misma
                visión de los 11 emprendedores que la fundaron.
            </p>
    
            <img
                src="./images/presidentes.webp"
                alt="Acta CCIA"
                class="img-fluid desvanecer"
            />
        </div>
    </section>
    <FooterSection/>
</Layout>
    