---
import FooterSection from "../components/FooterSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import LinkIcon from "../components/comuns/LinkIcon.astro";
import Layout from "../layouts/Layout.astro";

---



<Layout title="Revista">
	<LandingHeader/>
    <section class="revista">
    <div class="container">
        <h2 class="my-4">Revista<br><span>Institucional</span></h2>
        <div class="flex">
            <div class="w-1/2 flex pr-10">
                <a href="https://www.camara-arequipa.org.pe/erpccia/public/archivos/revistas/revista_setiembre_2023.pdf" target="_blank">
                    <div class="div-imagen rounded text-center ">
                        <h3 class="title-revista ">Cámara AQP<br> Nº 37<i style="display: flex;justify-content: center;"><LinkIcon/></i></h3>
                        <div class="flex">
                        </div>
                        <img src="./images/revista1.webp" alt="Cámara AQP Nº 37" class="img-fluid1 desvanecer">
                    </div>
                </a>
            </div>
            <div class="w-1/2">
                <div class="grid grid-cols-2 gap-10">
                    <div class="">
                        <a href="https://www.camara-arequipa.org.pe/erpccia/public/archivos/revistas/Revista_CCIA_julio_2023.pdf" target="_blank">
                            <div class="div-imagen rounded">
                                <h3 class="title-revista ">Cámara AQP<br> Nº 36<i style="display: flex;justify-content: center;"><LinkIcon/></i></h3>
                                <div class="flex items-center text-center text-white">
                                </div>
                                <img src="./images/revista2.webp" alt="Cámara AQP Nº 36" class="img-fluid desvanecer">
                            </div>
                        </a>
                        <a href="https://www.camara-arequipa.org.pe/erpccia/public/archivos/revistas/CCIA%20-%20Revista%20Setiembre%202022.pdf" target="_blank">
                            <div class="div-imagen rounded mt-4">
                                <h3 class="title-revista ">Cámara AQP<br> Nº 34<i style="display: flex;justify-content: center;"><LinkIcon/></i></h3>
                                <div class="flex items-center text-center text-white">
                                </div>
                                <img src="./images/revista4.webp" alt="Cámara AQP Nº 34" class="img-fluid desvanecer">
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a href="https://www.camara-arequipa.org.pe/erpccia/public/archivos/revistas/Revista%20No%2035.pdf" target="_blank">
                            <div class="div-imagen rounded mb-4">
                                <h3 class="title-revista ">Cámara AQP<br> Nº 35<i style="display: flex;justify-content: center;"><LinkIcon/></h3>
                                <div class="flex items-center text-center text-white">
                                </div>
                                <img src="./images/revista3.webp" alt="Cámara AQP Nº 35" class="img-fluid desvanecer">
                            </div>
                        </a>
                        <a href="https://www.camara-arequipa.org.pe/erpccia/public/archivos/revistas/CCIA%20-%20Revista%20Agosto%202022.pdf" target="_blank">
                            <div class="div-imagen rounded not-italic">
                                <h3 class="title-revista ">Cámara AQP<br> Nº 33<i style="display: flex;justify-content: center; font-"><LinkIcon/></h3>
                                <div class="flex items-center text-center text-white mt-4">
                                </div>
                                <img src="./images/revista5.webp" alt="Cámara AQP Nº 33" class="img-fluid desvanecer">
                            </div>
                        </a>
                    </div>
                </div>
            </div>     
        </div>

        <div class="pt-20 grid grid-cols-4 gap-6">
            <div class="">
                <a href="https://www.camara-arequipa.org.pe/public/archivos/revistas/Revista-CCIA-mayo-2022.pdf" target="_blank">
                    <div class="div-imagen rounded not-italic">
                        <h3 class="title-revista ">Cámara AQP<br> Nº 32<i style="display: flex;justify-content: center;"><LinkIcon/></i></h3>
                        <div class="flex items-center text-center text-white">
                        </div>
                        <img src="./images/revista6.webp" alt="Cámara AQP Nº 32" class="img-fluid desvanecer">
                    </div>
                </a>
                <a href="https://www.camara-arequipa.org.pe/erpccia/public/archivos/revistas/Revista-CCIA-diciembre-2020.pdf" target="_blank">
                    <div class="div-imagen rounded mt-4 not-italic">
                        <h3 class="title-revista ">Cámara AQP<br> Nº 28<i style="display: flex;justify-content: center;"><LinkIcon/></i></h3>
                        <div class="flex items-center text-center text-white">
                        </div>
                        <img src="./images/revista10.webp" alt="Cámara AQP Nº 28" class="img-fluid desvanecer">
                    </div>
                </a>
                <a href="https://www.camara-arequipa.org.pe/erpccia/public/archivos/revistas/Revista-CCIA-agosto-2019.pdf" target="_blank">
                    <div class="div-imagen rounded mt-4 not-italic">
                        <h3 class="title-revista ">Cámara AQP<br> Nº 23<i style="display: flex;justify-content: center;"><LinkIcon/></i></h3>
                        <div class="flex items-center text-center text-white">
                        </div>
                        <img src="./images/revista14.webp" alt="Cámara AQP Nº 23" class="img-fluid desvanecer">
                    </div>
                </a>
            </div>

            <div class="">
                <a href="https://www.camara-arequipa.org.pe/erpccia/public/archivos/revistas/Revista-CCIA-diciembre-2021.pdf" target="_blank">
                    <div class="div-imagen rounded not-italic">
                        <h3 class="title-revista ">Cámara AQP<br> Nº 31<i style="display: flex;justify-content: center;"><LinkIcon/></i></h3>
                        <div class="flex items-center text-center text-white">
                        </div>
                        <img src="./images/revista7.webp" alt="Cámara AQP Nº 31" class="img-fluid desvanecer">
                    </div>
                </a>
                <a href="https://www.camara-arequipa.org.pe/erpccia/public/archivos/revistas/Revista-CCIA-agosto-2020.pdf" target="_blank">
                    <div class="div-imagen rounded mt-4 not-italic">
                        <h3 class="title-revista ">Cámara AQP<br> Nº 27<i style="display: flex;justify-content: center;"><LinkIcon/></i></h3>
                        <div class="flex items-center text-center text-white">
                        </div>
                        <img src="./images/revista11.webp" alt="Cámara AQP Nº 27" class="img-fluid desvanecer">
                    </div>
                </a>
            </div>

            <div class="">
                <a href="https://www.camara-arequipa.org.pe/erpccia/public/archivos/revistas/Revista-CCIA-agosto-2021.pdf" target="_blank">
                    <div class="div-imagen rounded not-italic">
                        <h3 class="title-revista ">Cámara AQP<br> Nº 30<i style="display: flex;justify-content: center;"><LinkIcon/></i></h3>
                        <div class="flex items-center text-center text-white">
                        </div>
                        <img src="./images/revista8.webp" alt="Cámara AQP Nº 30" class="img-fluid desvanecer">
                    </div>
                </a>
                <a href="https://www.camara-arequipa.org.pe/erpccia/public/archivos/revistas/Revista-CCIA-mayo-2020.pdf" target="_blank">
                    <div class="div-imagen rounded mt-4 not-italic">
                        <h3 class="title-revista ">Cámara AQP<br> Nº 26<i style="display: flex;justify-content: center;"><LinkIcon/></i></h3>
                        <div class="flex items-center text-center text-white">
                        </div>
                        <img src="./images/revista12.webp" alt="Cámara AQP Nº 26" class="img-fluid desvanecer">
                    </div>
                </a>
            </div>

            <div class="">
                <a href="https://www.camara-arequipa.org.pe/erpccia/public/archivos/revistas/Revista-CCIA-marzo-2021.pdf" target="_blank">
                    <div class="div-imagen rounded not-italic">
                        <h3 class="title-revista ">Cámara AQP<br> Nº 29<i style="display: flex;justify-content: center;"><LinkIcon/></i></h3>
                        <div class="flex items-center text-center text-white">
                        </div>
                        <img src="./images/revista9.webp" alt="Cámara AQP Nº 29" class="img-fluid desvanecer">
                    </div>
                </a>
                <a href="https://www.camara-arequipa.org.pe/erpccia/public/archivos/revistas/Revista-CCIA-diciembre-2019.pdf" target="_blank">
                    <div class="div-imagen rounded mt-4 not-italic">
                        <h3 class="title-revista ">Cámara AQP<br> Nº 25<i style="display: flex;justify-content: center;"><LinkIcon/></i></h3>
                        <div class="flex items-center text-center text-white">
                        </div>
                        <img src="./images/revista13.webp" alt="Cámara AQP Nº 25" class="img-fluid desvanecer">
                    </div>
                </a>
            </div>

        </div>
        
    </div>
</section>
    <FooterSection/>
</Layout>

