<section class="beneficios" id="section-next">
    <div class="container">
        <div class="relative"><img src="./images/contract.webp" class="img-tarifa" alt=""></div>
        
        <h1>¿Cómo procedemos?</h1>
        <ul class="list-tarifa w-100 h-100">
            <li class="relative">
                <div class="guion-prot"></div>
                <p class="text-white"><span class="number">01</span> Se envía al solicitante el universo
                    potencial (directorio preestablecido) de empresas o instituciones.</p>
            </li>
            <li class="relative">
                <div class="guion-prot"></div>
                <p class="text-white"><span class="number">02</span> El solicitante deberá enviar 10 posibles contactos
                    y priorizar
                    3 de ellos.</p>
            </li>
            <li class="relative">
                <div class="guion-prot"></div>
                <p class="text-white"><span class="number">03</span> El solicitante deberá enviar información oportuna
                    de su
                    empresa, productos y/o servicios.</p>
            </li>
            <li class="position-relative">
                <div class="guion-prot"></div>
                <p class="text-white"><span class="number">04</span> El solicitante deberá enviar los datos de la
                    persona que los
                    representará en cada reunión y su disponibilidad de horarios.</p>
            </li>
        </ul>
    </div>
</section>