<section class="certificacion-servicios pt-6 mt-6">

    <div class="container-fluid pl-0 pr-0 flex">

        <div class="grid grid-cols-4 mr-0 ml-0 bg-black flex text-center">

            
            <div class="col pl-0 pr-0">

                <div class="card h-100 bg-[url('./images/certificacion2.webp')]">

                    <div class="card-body">

                        <h5 class="card-title text-lg">Tarifario</h5>

                        <a href="#tarifario-origen" class="btn-outline py-3 px-4">Ver m치s</a>

                    </div>

                </div>

            </div>

            
            <div class="col pl-0 pr-0">

                <div class="card h-100 bg-[url('./images/certificacion3.webp')]">

                    <div class="card-body">

                        <h5 class="card-title text-lg">Certificados que emitimos</h5>

                        <a href="#certificados-origen" class="btn-outline py-3 px-5">Ver m치s</a>

                    </div>

                </div>

            </div>

            
            <div class="col pl-0 pr-0">

                <div class="card h-100 bg-[url('./images/certificacion4.webp')]">

                    <div class="card-body">

                        <h5 class="card-title text-lg">Requisitos</h5>

                        <a href="#requisitos-origen" class="btn-outline py-3 px-5">Ver m치s</a>

                    </div>

                </div>

            </div>

            
            <div class="col pl-0 pr-0">

                <div class="card h-100 bg-[url('./images/certificacion5.webp')]">

                    <div class="card-body">

                        <h5 class="card-title text-lg">Otras certificaciones</h5>

                        <a href="#otros-origen" class="btn-outline py-10 px-5">Ver m치s</a>

                    </div>

                </div>

            </div>

            
        </div>

    </div>

</section>